* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    font-family: 'Instrument sans', sans-serif;
    background-color: #f1d0e5;
}

:root {
    --primary-color: #6f1b36;
}

#app {
    max-width: 375px;
    max-height: 100vh;
    /* overflow: hidden; */
    margin: 0px auto;
    padding: 16px;
    position: relative;
}

.building-screen,
.loading-screen,
.result-screen {
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 48px;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #faeff6;
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;

    img {
        height: 100%;
    }
}

.building {
    padding-top: 2rem;
}

.field {
    label {
        font-size: 2rem;
        line-height: 2.5rem;
        font-style: medium;
        display: block;
        color: var(--primary-color);
    }

    input {
        border: none;
        border-bottom: 2px solid var(--primary-color);
        background-color: transparent;
        width: 100%;
        padding: 1rem 0.5rem;
        color: #f87cd1;
        font-size: 1.2rem;
        font-weight: 500;
    }

    input:active {
        color: #6f1b36;
    }

    input:focus {
        outline: 2px solid var(--primary-color);
    }

    padding-bottom: 1rem;
}

/* emojii list */
.emoji-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 1rem;

    .emoji {
        height: 84px;
        font-size: 2.5rem;
        border-radius: 8px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 22%;
        flex-wrap: wrap;
    }

    .emoji:hover {
        background-color: #f87cd1;
    }
}

button {
    background-color: #f87cd1;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}